/* Fondo elegante con degradado */
.resume {
  background: linear-gradient(135deg, #414431, #b5be62);
  color: white;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 50px 20px;
}

/* Estilización del título */
.resume h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 15px;
  letter-spacing: 1.5px;
}

/* Estilización del texto */
.resume p {
  font-size: 1.5rem;
  margin-bottom: 20px;
  opacity: 0.8;
  color: white;
}

/* Estilo del botón */
.button {
  padding: 12px 20px;
  font-size: 1.5rem;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
}

/* Efecto hover */
.button:hover {
  background: #0f3513;
  transform: scale(1.05);
}

.buttonContainer {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}
